---
import BaseLayout from "../../layout/BaseLayout.astro";
import DynamicImage from "../../components/DynamicImage.astro";
import Tags from "../../components/Tags.astro";
import SubscribePanel from "../../components/SubscribePanel.astro";
import ArticleRow from "../../components/ArticleRow.astro";
import FeaturedProject from "../../components/FeaturedProject.astro";
import { getBlog } from "../../content/blog";
import { getPortfolio } from "../../content/portfolio";

export async function getStaticPaths() {
  return (await getBlog()).map((article) => ({
    params: { article: article.slug },
    props: article
  }));
}

const {
  data: { title, short, author, date, tags },
  slug,
  rendered
} = Astro.props;

const dateLabel = date.toLocaleDateString(undefined, {
  day: "numeric",
  month: "long",
  year: "numeric"
});

const projects = (await getPortfolio())
  .filter(({ data: { articles } }) => articles.includes(slug))
  .slice(0, 3);

const related = (await getBlog())
  .filter((entry) => {
    if (entry.slug === slug) return false;
    return entry.data.tags.some((tag) => new Set(tags).has(tag));
  })
  .map((entry) => {
    return {
      entry,
      score: entry.data.tags.reduce(
        (acc, t) => acc + (tags.includes(t) ? 1 : 0),
        0
      )
    };
  })
  .sort((x, y) => y.score - x.score)
  .map(({ entry }) => entry)
  .slice(0, 3);
---

<BaseLayout
  title={title}
  description={short}
  ldJson={{
    "@context": "https://schema.org",
    "@type": "BlogPosting",
    headline: title,
    description: short,
    author: author,
    datePublished: date.toISOString(),
    tags: tags?.join(", "),
    url: `https://leolem.dev/blog/${slug}`,
    inLanguage: "en"
  }}
>
  <div slot="thumbnail" class="relative">
    <DynamicImage
      src={`blog/${slug}`}
      alt={`Thumbnail image for ${title}`}
      class="thumbnail card-elevated eager"
    />

    <div class="absolute top-2 left-2 pill-overlay meta">{dateLabel}</div>

    {
      author?.name && (
        <div class="absolute top-2 right-2 pill-overlay meta">
          {author.url ? (
            <a
              href={author.url}
              class="link-muted"
              rel="noopener noreferrer"
              target="_blank"
            >
              {author.name}
            </a>
          ) : (
            author.name
          )}
        </div>
      )
    }

    <Tags
      tags={tags}
      class="absolute bottom-2 left-2 justify-center text-xs sm:text-sm"
    />
  </div>

  <article
    class="card p-4 prose prose-lg dark:prose-invert text-center sm:text-justify"
    set:html={rendered?.html}
  />

  <div class="container stack-sm text-center line-clamp-0">
    If you're still here, might as well subscribe :)
    <SubscribePanel class="container-narrow stack-sm justify-center p-2" />
  </div>
  {
    projects.length > 0 && (
      <section class="container-narrow stack">
        <h2 class="title">Projects Featured In This Article</h2>

        <div class="split">
          {projects.map((project) => (
            <FeaturedProject project={project} />
          ))}
        </div>
      </section>
    )
  }

  {
    related.length > 0 && (
      <section class="container-wide stack">
        <h2 class="title">Related Articles</h2>

        <div class="flex flex-col gap-2">
          {related.map((article) => (
            <ArticleRow article={article} />
          ))}
        </div>
      </section>
    )
  }
</BaseLayout>
