---
import BlogLayout from "../../layout/BlogLayout.astro";
import DynamicImage from "../../components/DynamicImage.astro";
import Tags from "../../components/Tags.astro";
import SubscribePanel from "../../components/SubscribePanel.astro";

import { getCollection } from "astro:content";

export async function getStaticPaths() {
  return (await getCollection("blog"))
    .filter(({ data: { date } }) => date <= new Date())
    .map((article) => ({
      params: { article: article.slug },
      props: article
    }));
}

const {
  data: { title, short, author, date, tags },
  slug,
  rendered
} = Astro.props;

const projects = (await getCollection("portfolio")).filter(
  ({ data: { articles } }) => articles.includes(slug)
);
---

<BlogLayout
  title={title}
  description={short}
  ldJson={{
    "@context": "https://schema.org",
    "@type": "BlogPosting",
    headline: title,
    description: short,
    author: author,
    datePublished: date.toISOString(),
    tags: tags?.join(", "),
    url: `https://leolem.dev/blog/${slug}`,
    inLanguage: "en"
  }}
>
  <DynamicImage
    slot="thumbnail"
    src={`blog/${slug}`}
    alt=""
    class="w-full max-w-3xl mx-auto rounded-2xl mb-8"
    loading="eager"
  />

  <div class="flex flex-col gap-4 max-w-3xl mx-auto -mt-16">
    <p class="text-muted font-semibold">
      by {author ?? "Leopold Lemmermann"} | {
        date.toLocaleDateString(undefined, {
          day: "numeric",
          month: "long",
          year: "numeric"
        })
      }
    </p>
    <Tags tags={tags} class="justify-center" />
  </div>

  <article
    class="prose prose-lg dark:prose-invert text-start sm:text-justify"
    set:html={rendered?.html}
  />

  <SubscribePanel class="max-w-3xl mx-auto" />

  {
    projects.length > 0 && (
      <section class="flex flex-col gap-4 max-w-3xl mx-auto">
        <h2 class="text-2xl">Projects Featured In This Article</h2>
        <div class="grid sm:grid-cols-2 gap-4">
          {projects.map(
            ({
              slug: projectSlug,
              data: { title: projectTitle, short: projectShort }
            }) => (
              <a
                href={`/portfolio/${projectSlug}/`}
                class="card responsive cursor-pointer flex flex-col gap-4 text-center"
              >
                <DynamicImage
                  src={`portfolio/${projectSlug}`}
                  alt={`Thumbnail for ${projectTitle}`}
                  class="w-max aspect-square object-cover rounded-lg"
                />
                <h2>{projectTitle}</h2>
                <p class="text-muted">{projectShort}</p>
              </a>
            )
          )}
        </div>
      </section>
    )
  }
</BlogLayout>
