---
import { getCollection } from "astro:content";

import BaseLayout from "../../layout/BaseLayout.astro";
import Tags from "../../components/Tags.astro";

const articles = (await getCollection("articles"))
  .filter(
    ({ slug }) =>
      !(import.meta.env.DRAFT_ARTICLES?.split(",") ?? []).includes(slug)
  )
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
---

<BaseLayout
  title="My Blog"
  description="Welcome to my blog! I write about software development, technology, and things I'm exploring. Expect articles on Swift, CI/CD, architecture, and my personal experiences building things."
>
  <section>
    <ul class="flex flex-col gap-4">
      {
        articles.map(({ slug, data: { title, author, date, short, tags } }) => (
          <li class="w-full text-center sm:text-left">
            <h3 class="text-primary text-xl font-semibold mb-1">
              <a href={`/blog/${slug}/`} class="text-primary hover:underline">
                {title}
              </a>
            </h3>

            <span class="text-sm text-muted text-nowrap">
              by {author} | {date.toLocaleDateString()}
            </span>

            <p class="text-secondary">{short}.</p>

            <div class="flex flex-col mt-2 items-center sm:items-start">
              {" "}
              <Tags tags={tags} />{" "}
            </div>

            <div class="border-[var(--border-color)] border w-1/2 my-3 mx-auto" />
          </li>
        ))
      }
    </ul>
  </section>
</BaseLayout>
