---
import BaseLayout from "../BaseLayout.astro";
import Timeline from "../components/Timeline.astro";

import { Content as AboutMe } from "../content/about.md";

import { getCollection } from "astro:content";
const stations = (await getCollection("stations"))
  .sort(
    (a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
  )
  .map((station) => {
    const date = new Date(station.data.date);
    return {
      ...station,
      data: {
        ...station.data,
        year: date.getFullYear()
      }
    };
  });

const highlights = await getCollection("highlights");

const skills = (await getCollection("skills"))
  .sort(
    (a, b) =>
      (b.data.isPriority ? 1000 : 0) -
      (a.data.isPriority ? 1000 : 0) +
      b.data.confidence -
      a.data.confidence
  )
  .reduce((acc: any, skill) => {
    const category = skill.data.category;
    if (!acc[category]) acc[category] = [];
    acc[category].push(skill);
    return acc;
  }, {});
---

<BaseLayout title="About me">
  <section
    class="flex flex-col items-center justify-center gap-5 text-center md:flex-row md:text-left"
  >
    <div class="flex flex-col gap-3">
      <p class="muted uppercase tracking-widest text-sm">Hey there!</p>
      <h1 class="text-4xl font-bold">I'm Leo.</h1>
      <div class="secondary prose prose-base dark:prose-invert">
        <AboutMe />
      </div>
    </div>

    <img src="/motorbike.avif" alt="Me!" class="card-image w-full md:w-1/2" />
  </section>

  <section>
    <h2>My Journey</h2>
    <Timeline stations={stations} />
  </section>

  <section class="max-w-3xl flex flex-col gap-10 mx-auto">
    <h2>My Skill Highlights</h2>

    <ul class="card flex flex-col gap-4">
      {
        highlights.map(({ data: { title, emoji } }) => (
          <li class="text-lg font-semibold">
            <span class="text-2xl">{emoji}</span> {title}
          </li>
        ))
      }
    </ul>

    {
      Object.entries(skills).map(([category, items]: any) => (
        <div>
          <h3>{category}</h3>

          <div class="flex flex-wrap gap-4">
            {items.map(
              ({ data: { name, icon, confidence, isPriority } }: any) => (
                <div
                  class={`card responsive aspect-square flex flex-col items-center w-28 gap-2 ${isPriority ? "ring-2 ring-accent" : ""}`}
                >
                  <img
                    src={`/icons/${icon}`}
                    alt={name}
                    class="h-10 w-10 dark:invert"
                  />
                  <span class="text-nowrap">{name}</span>
                  <div class="w-full bg-zinc-800 rounded-full h-1">
                    <div
                      class="intense h-1 rounded-full"
                      style={`width: ${confidence}%`}
                    />
                  </div>
                </div>
              )
            )}
          </div>
        </div>
      ))
    }
  </section>
</BaseLayout>
