---
import BaseLayout from "../layout/BaseLayout.astro";

import { Content as AboutMe } from "../content/about.md";
import { Content as Highlights } from "../content/highlights.md";

import { getCollection } from "astro:content";
const stations = (await getCollection("stations")).sort(
  (a, b) => b.data.date.getTime() - a.data.date.getTime()
);
const skills = (await getCollection("topics"))
  .filter((skill) => skill.data.confidence !== undefined)
  .sort((a, b) => (b.data.confidence ?? 0) - (a.data.confidence ?? 0))
  .sort((a, b) => (b.data.isPriority ? 1 : 0) - (a.data.isPriority ? 1 : 0));
const categories = skills
  .map((skill) => skill.data.category)
  .filter((value, index, self) => self.indexOf(value) === index);
---

<BaseLayout title="About me">
  <section
    class="flex flex-col items-center justify-center gap-5 text-center sm:flex-row sm:text-left"
  >
    <div class="flex flex-col gap-3">
      <p class="text-muted uppercase tracking-widest text-sm">Hey there!</p>
      <h1 class="text-4xl font-bold">I'm Leo.</h1>
      <div class="text-secondary prose prose-base dark:prose-invert">
        <AboutMe />
      </div>
    </div>

    <img
      src="/images/motorbike.avif"
      alt="Me!"
      class="card-image w-full sm:w-1/2"
    />
  </section>

  <section class="max-w-xl mx-auto">
    <h2 class="text-center">My Journey</h2>

    <div class="relative flex flex-col gap-10">
      <div class="absolute h-full border sm:left-1/2 sm:-translate-x-1/2"></div>

      {
        stations.map(
          ({ data: { title, subtitle, date, duration }, body }, index) => (
            <div
              class={`relative ml-5 sm:ml-0 ${index !== 0 ? "sm:-mt-20" : ""}`}
            >
              <div
                class={`absolute -ml-5 top-3 w-3 border sm:ml-0 sm:left-1/2 sm:top-1/2 ${index % 2 !== 0 ? "sm:-translate-x-full" : ""}`}
              />

              <div
                class={`sm:w-1/2 sm:px-5 ${index % 2 === 0 ? "sm:ml-auto sm:text-left" : "sm:mr-auto sm:text-right"}`}
              >
                <h3 class="m-0">{title}</h3>

                <div class="font-semibold mb-4">
                  <span class="text-secondary text-sm">@ {subtitle} |</span>
                  <span class="text-muted text-xs">
                    {date.getFullYear()} - {duration}
                  </span>
                </div>

                <div class="text-muted prose prose-sm dark:prose-invert">
                  {body}
                </div>
              </div>
            </div>
          )
        )
      }
    </div>
  </section>

  <section class="max-w-3xl flex flex-col gap-10 mx-auto">
    <h2 class="text-center">My Skill Highlights</h2>

    <div class="card secondary prose prose-base dark:prose-invert">
      <Highlights />
    </div>

    {
      categories.map((category) => (
        <div>
          <h3>{category}</h3>

          <div class="flex flex-wrap gap-4">
            {skills
              .filter((skill) => skill.data.category === category)
              .map(({ data: { id, icon, confidence, isPriority } }: any) => (
                <div
                  class={`card responsive aspect-square flex flex-col items-center w-28 gap-2 ${
                    isPriority ? "ring-2 ring-accent" : ""
                  }`}
                >
                  <img
                    src={`/icons/${icon}.svg`}
                    alt={id}
                    class="h-10 w-10 dark:invert"
                  />
                  <span class="text-nowrap">{id}</span>
                  <div class="w-full h-1 bg-[var(--text-secondary-color)] rounded-full">
                    <div
                      class="h-1 bg-intense rounded-full"
                      style={`width: ${confidence}%`}
                    />
                  </div>
                </div>
              ))}
          </div>
        </div>
      ))
    }
  </section>
</BaseLayout>
