---
import BaseLayout from "../BaseLayout.astro";
import Timeline from "../components/Timeline.astro";

import { getCollection } from "astro:content";
const stations = (await getCollection("stations"))
  .sort(
    (a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
  )
  .map((station) => {
    const date = new Date(station.data.date);
    return {
      ...station,
      data: {
        ...station.data,
        year: date.getFullYear()
      }
    };
  });

const skills = (await getCollection("skills")).reduce((acc: any, skill) => {
  const category = skill.data.category;
  if (!acc[category]) acc[category] = [];
  acc[category].push(skill);
  return acc;
}, {});

const highlights = await getCollection("highlights");
---

<BaseLayout title="About me">
  <section
    class="flex flex-col md:flex-row items-center justify-center py-24 px-6 space-y-8 md:space-y-0 md:space-x-12 text-center md:text-left max-w-5xl mx-auto"
  >
    <!-- Left text block -->
    <div class="space-y-4">
      <p
        class="uppercase tracking-widest text-sm"
        style="color: var(--text-muted-color);"
      >
        Hey there!
      </p>
      <h1
        class="text-4xl font-bold"
        style="color: var(--text-secondary-color);"
      >
        I'm Leo.
      </h1>
      <p class="text-lg max-w-md">
        I'm a Master's student at the University of Hamburg and a Software
        Engineer at Capgemini. My journey has taken me through various roles,
        from developing sustainability tools to full-stack and iOS development.
      </p>
    </div>

    <!-- Right image block -->
    <img
      src="/motorbike.avif"
      alt="This is me!"
      class="w-full md:w-1/2 rounded shadow-lg object-cover"
    />
  </section>

  <section class="max-w-5xl mx-auto py-12 px-4">
    <Timeline stations={stations} />
  </section>

  <section class="max-w-5xl mx-auto py-12 px-4 text-[var(--text-muted-color)]">
    <h2 class="text-3xl font-bold mb-6 text-center text-[var(--text-color)]">
      My Skillset
    </h2>

    <!-- Impact Highlights placed here -->
    <ul
      class="space-y-4 text-center text-lg mb-12 border rounded-lg p-4 bg-[var(--primary-color)]"
    >
      {
        highlights.map(({ data: { title, icon } }) => (
          <li>
            {icon} {title}
          </li>
        ))
      }
    </ul>

    <!-- Skills Categories -->
    <div class="space-y-12">
      {
        Object.entries(skills).map(([category, items]: any, index) => (
          <div>
            <h3
              class="text-xl font-semibold mb-4"
              style="color: var(--text-secondary-color);"
            >
              {category}
            </h3>
            <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-6">
              {items.map(({ data: { name, icon, confidence } }: any) => (
                <div class="flex flex-col items-center text-center p-4 rounded-lg border bg-[var(--primary-color)] hover:scale-105 transform transition">
                  <img src={`/icons/${icon}`} alt={name} class="h-8 w-8 mb-2" />
                  <span>{name}</span>
                  <div class="w-full mt-2 rounded-full h-1">
                    <div
                      class="bg-gradient-to-r from-pink-500 to-yellow-500 h-1 rounded-full"
                      style={`width: ${confidence}%`}
                    />
                  </div>
                </div>
              ))}
            </div>
          </div>
        ))
      }
    </div>
  </section>
</BaseLayout>
