---
import { getCollection } from "astro:content";

import BaseLayout from "../layout/BaseLayout.astro";
import Embed from "../components/Embed.astro";
import DynamicImage from "../components/DynamicImage.astro";

import { Content as AboutMe } from "../content/about.md";

const stations = (await getCollection("stations")).sort(
  (a, b) => b.data.date.getTime() - a.data.date.getTime()
);

const albumID = import.meta.env.FAVORITE_ALBUM;
---

<BaseLayout title="About me">
  <section
    class="flex flex-col items-center justify-center gap-5 text-center sm:flex-row sm:text-left"
  >
    <div class="flex flex-col gap-3">
      <p class="text-muted uppercase tracking-widest text-sm">Hey there!</p>
      <h1 class="text-4xl font-bold">I'm Leo.</h1>
      <AboutMe />
      <p class="text-muted">
        Feel free to reach out via <a href="mailto:hey@leolem.dev"
          >hey@leolem.dev</a
        >.
      </p>
    </div>

    <DynamicImage
      src="about/motorbike"
      alt="Me!"
      class="w-full sm:w-1/2 rounded-xl"
      loading="eager"
    />
  </section>

  <section>
    <h2>My Current Favorite</h2>

    <Embed kind="apple-music" albumID={albumID} loading="eager" />
  </section>

  <section class="max-w-xl mx-auto">
    <h2 class="text-center">My Journey</h2>

    <div class="relative flex flex-col gap-10">
      <div class="absolute h-full border sm:left-1/2 sm:-translate-x-1/2"></div>

      {
        stations.map(
          ({ data: { title, place, date, duration }, body }, index) => (
            <div
              class={`relative ml-5 sm:ml-0 ${index !== 0 ? "sm:-mt-20" : ""}`}
            >
              <div
                class={`absolute -ml-5 top-3 w-3 border sm:ml-0 sm:left-1/2 sm:top-1/2 ${index % 2 !== 0 ? "sm:-translate-x-full" : ""}`}
              />

              <div
                class={`sm:w-1/2 sm:px-5 ${index % 2 === 0 ? "sm:ml-auto sm:text-left" : "sm:mr-auto sm:text-right"}`}
              >
                <h3 class="m-0">{title}</h3>

                <div class="font-semibold mb-4">
                  <span class="text-secondary text-sm">@ {place} |</span>
                  <span class="text-muted text-xs">
                    {date.getFullYear()} - {duration}
                  </span>
                </div>

                <article
                  class="text-muted prose prose-sm dark:prose-invert"
                  set:html={body}
                />
              </div>
            </div>
          )
        )
      }
    </div>
  </section>

  <section id="skills" class="max-w-3xl flex flex-col gap-10 mx-auto">
    <a href="/explore/" class="see-more">
      <span>Explore My Skills & Work →</span>
    </a>
  </section>
</BaseLayout>
