---
import { Icon } from "astro-icon/components";
import { getCollection } from "astro:content";

import BaseLayout from "../layout/BaseLayout.astro";
import DynamicImage from "../components/DynamicImage.astro";
import FeaturedArticle from "../components/FeaturedArticle.astro";
import { Content as AboutMe } from "/src/content/about.md";
import SeeMore from "../components/SeeMore.astro";

const featuredArticle = (await getCollection("blog")).filter(
  ({ data: { date, featured } }) => date <= new Date() && featured
)[0];
const featuredProjects = (await getCollection("portfolio")).filter(
  ({ data: { featured } }) => featured
);
const featuredServices = (await getCollection("offering")).filter(
  ({ data: { featured } }) => featured
);
---

<BaseLayout title="Leopold Lemmermann - Software Engineer">
  <section class="stack-lg text-center">
    <section class="container-narrow stack">
      <article class="text-xl"><AboutMe /></article>

      <SeeMore href="/about/">Learn more about me</SeeMore>
    </section>

    <section class="container-wide stack">
      {
        featuredArticle && (
          <FeaturedArticle
            article={featuredArticle}
            class="card-hover card-elevated"
          />
        )
      }

      <SeeMore href="/blog/">Read my latest articles</SeeMore>
    </section>

    <section class="container stack">
      <div class="split">
        {
          featuredProjects.map(({ slug, data: { title, short } }) => (
            <a href={`/portfolio/${slug}/`} class="relative card-hover stack">
              <DynamicImage
                src={`portfolio/${slug}`}
                alt={`Thumbnail for ${title}`}
                class="thumbnail w-full aspect-square"
              />
              <div class="absolute bottom-0 fade p-2">
                <h2 class="title-sm">{title}</h2>
                <p class="summary">{short}</p>
              </div>
            </a>
          ))
        }
      </div>

      <SeeMore href="/portfolio/">Explore my projects</SeeMore>
    </section>

    <section class="container-narrow stack">
      <div class="split-sm">
        {
          featuredServices.map(
            ({ data: { icon, title, short }, slug }: any) => (
              <a href={`/offering/#${slug}`} class="card-hover stack p-2">
                <Icon name={icon} class="icon-lg w-full" />
                <h2 class="title-sm">{title}</h2>
                <p class="summary">{short}</p>
              </a>
            )
          )
        }
      </div>

      <SeeMore href="/offering/">Explore my services</SeeMore>
    </section>
  </section>
</BaseLayout>
