---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";

const allProjects = await getCollection("projects");

const topProjects = allProjects.filter((p: any) => p.data.featured).slice(0, 2);
---

<BaseLayout title="Leopold Lemmermann">
  <!-- Hero section -->
  <section class="flex flex-col items-center justify-center text-center">
    <p class="text-2xl md:text-2xl max-w-2xl">
      I'm a Master's student at the University of Hamburg and a Software
      Engineer at Capgemini. I love building solutions that connect technology
      with purpose.
      <a
        href="/about"
        class="nav-link-gradient"
        style="color: var(--text-muted-color);"
      >
        Learn more.</a
      >
    </p>
  </section>

  <!-- Top two featured projects dynamically generated -->
  <section>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 w-full max-w-4xl">
      {
        topProjects.map((project: any) => (
          <div class="border rounded shadow hover:shadow-lg transition overflow-hidden">
            {project.data.thumbnail && (
              <img
                src={project.data.thumbnail}
                alt={project.data.title}
                class="w-full aspect-square object-cover"
              />
            )}
            <div class="p-4 text-center">
              <h2 class="text-2xl font-semibold mb-2">
                <a href={`/projects#${project.slug}`} class="nav-link-gradient">
                  {project.data.title}
                </a>
              </h2>
              <p class="mb-2" style="color: var(--text-muted-color);">
                {project.data.description}
              </p>
            </div>
          </div>
        ))
      }
    </div>
  </section>

  <!-- Google Calendar Widget -->
  <div
    class="w-full max-w-2xl p-2 rounded"
    style="background-color: var(--border-color);"
  >
    <iframe
      src="https://calendar.google.com/calendar/appointments/AcZssZ0Uf9NSuQOy5kmC7a86grhHsaI3ESFj1eLPems=?gv=true"
      style="border: 0"
      width="100%"
      height="600"></iframe>
  </div>
</BaseLayout>
