---
import { BaseLayout } from "../layout";
import { aboutMe, getBlog, getPortfolio } from "../content";
import {
  Embed,
  FeaturedArticle,
  FeaturedProject,
  SubscribePanel
} from "../components";
import { onlyFeatured } from "../lib";

const featuredArticle = (await getBlog()).find(onlyFeatured);
const featuredProjects = (await getPortfolio()).filter(onlyFeatured);

const albumID = import.meta.env.FAVORITE_ALBUM;
const tripID = import.meta.env.CURRENT_TRIP;
---

<BaseLayout title="Leopold Lemmermann" showHeader={false}>
  <section id="about" class="stack-lg text-center">
    <article class="text-2xl font-semibold">{aboutMe.short}</article>
  </section>

  <section id="takes" class="container-wide stack">
    <!-- TODO: Design a horizontal scroll list with Takes branding and integrating subscribe bar -->
    <h2 class="title-lg text-center">My Takes On…</h2>

    {
      featuredArticle && (
        <FeaturedArticle
          article={featuredArticle}
          class="responsive card card-elevated"
        />
      )
    }

    <SubscribePanel
      label="Get notified via"
      class="container-narrow stack-sm justify-center p-2 scroll-mt-32"
    />
  </section>

  <section id="contact" class="container stack" data-testid="cal-section">
    <h2 class="title text-center">
      Get in Touch via <a href="mailto:hey@leolem.dev" class="link-muted">
        hey@leolem.dev
      </a> or Schedule a Call
    </h2>

    <div
      id="my-cal-inline-gettoknow"
      class="w-full h-full overflow-y-auto"
      data-testid="cal-embed"
    >
    </div>
  </section>

  <section id="catalog" class="container stack">
    <!-- TODO: design a horizontal scroll list with Catalog branding -->
    <h2 class="title-lg text-center">Catalog, Or What I've Created</h2>

    <div class="split">
      {featuredProjects.map((project) => <FeaturedProject project={project} />)}
    </div>
  </section>

  <section id="beyond-work" class="container-wide stack text-center">
    <h2 class="title-lg">What I Enjoy Outside Work</h2>

    <div class="split">
      {albumID && <Embed kind="music" albumID={albumID} loading="eager" />}
      {tripID && <Embed kind="polarsteps" tripID={tripID} loading="eager" />}
    </div>
  </section>
</BaseLayout>
