---
import { BaseLayout } from "../layout";
import { aboutMe, getBlog, getOffering, getPortfolio } from "../content";
import { FeaturedArticle, FeaturedProject, Icon, SeeMore } from "../components";
import { onlyFeatured } from "../lib";

const featuredArticle = (await getBlog()).find(onlyFeatured);
const featuredProjects = (await getPortfolio()).filter(onlyFeatured);
const featuredServices = (await getOffering()).filter(onlyFeatured);
---

<BaseLayout title="Leopold Lemmermann" showHeader={false}>
  <section class="stack-lg text-center">
    <section class="container stack">
      <article class="text-2xl font-bold">{aboutMe.short}</article>

      <SeeMore href="/about/">Learn more about me</SeeMore>
    </section>

    <section class="container-wide stack">
      {
        featuredArticle && (
          <FeaturedArticle
            article={featuredArticle}
            class="responsive card card-elevated"
          />
        )
      }

      <SeeMore href="/blog/">Read my latest articles</SeeMore>
    </section>

    <section class="container stack">
      <div class="split">
        {
          featuredProjects.map((project) => (
            <FeaturedProject project={project} />
          ))
        }
      </div>

      <SeeMore href="/portfolio/">Explore my projects</SeeMore>
    </section>

    <section class="container-narrow stack">
      <div class="split-sm">
        {
          featuredServices.map(
            ({ data: { icon, title, short }, slug }: any) => (
              <a href={`/offering/#${slug}`} class="responsive card stack p-2">
                <Icon name={icon} class="icon-lg w-full" />
                <h2 class="title-sm">{title}</h2>
                <p class="summary">{short}</p>
              </a>
            )
          )
        }
      </div>

      <SeeMore href="/offering/">Explore my services</SeeMore>
    </section>
  </section>
</BaseLayout>
