---
import { getCollection } from "astro:content";

import BaseLayout from "../layout/BaseLayout.astro";
import Embed from "../components/Embed.astro";
import Tags from "../components/Tags.astro";
import DynamicImage from "../components/DynamicImage.astro";
import OrderButton from "../components/OrderButton.astro";

const offering = (await getCollection("offering")).sort(
  (a, b) => (b.data.featured ? 1 : -1) - (a.data.featured ? 1 : -1)
);
---

<BaseLayout
  title="My Offering"
  description="Explore the services I offer. Each service is designed to help you achieve your goals with clean, reliable code and production-ready solutions."
>
  <section class="container-wide split">
    {
      offering.map(({ slug, data: { title, tags, cta }, rendered }) => (
        <div class="card-elevated stack-sm text-center">
          <div class="relative">
            <DynamicImage
              src={`offering/${slug}`}
              alt={`Image for ${title} service`}
            />

            <Tags
              tags={tags}
              class="absolute bottom-2 inset-x-0 justify-center text-xs gap-1"
            />
          </div>

          <h2 class="title p-2">{title}</h2>

          <article
            class="flex-grow summary line-clamp-none prose prose-md dark:prose-invert p-1"
            set:html={rendered?.html}
          />

          <a href="#schedule-a-call" class="responsive btn justify-center m-2">
            Contact Me
          </a>

          {cta.map(({ url, type }) => (
            <OrderButton url={url} type={type} class="responsive p-2" />
          ))}
        </div>
      ))
    }
  </section>

  <section id="schedule-a-call" class="container stack">
    <h2 class="title">Book a Meeting</h2>
    <Embed kind="calendar" loading="lazy" />
  </section>
</BaseLayout>
