---
import { BaseLayout } from "../layout";
import { getOffering } from "../content";
import { Thumbnail, TopicPills, OrderButton } from "../components";

const offering = await getOffering();
---

<BaseLayout
  title="My Offering"
  description="Explore the services I offer. Each service is designed to help you achieve your goals with clean, reliable code and production-ready solutions."
>
  <section
    id="schedule-a-call"
    class="container stack"
    data-testid="cal-section"
  >
    <h2 class="title">Book a Meeting</h2>
    <div
      id="my-cal-inline-gettoknow"
      class="w-full h-full overflow-y-auto"
      data-testid="cal-embed"
    >
    </div>
  </section>

  <section class="container-wide split">
    {
      offering.map(async ({ slug, data: { title, tags, cta }, rendered }) => (
        <div class="card-elevated stack-sm text-center">
          <div class="relative">
            <Thumbnail
              src={`offering/${slug}`}
              alt={`Image for ${title} service`}
            />

            <TopicPills
              topics={tags}
              class="absolute bottom-2 inset-x-0 justify-center text-xs gap-1"
            />
          </div>

          <h2 class="title p-2">{title}</h2>

          <article
            class="flex-grow summary line-clamp-none prose prose-md dark:prose-invert p-1"
            set:html={rendered?.html}
          />

          <a href="#schedule-a-call" class="responsive btn justify-center m-2">
            Contact Me
          </a>

          {cta.map(({ url, type }: { url: string; type: string }) => (
            <OrderButton url={url} type={type} class="responsive p-2" />
          ))}
        </div>
      ))
    }
  </section>
</BaseLayout>

<script is:inline type="text/javascript">
  (function (C, A, L) {
    let p = function (a, ar) {
      a.q.push(ar);
    };
    let d = C.document;
    C.Cal =
      C.Cal ||
      function () {
        let cal = C.Cal;
        let ar = arguments;
        if (!cal.loaded) {
          cal.ns = {};
          cal.q = cal.q || [];
          d.head.appendChild(d.createElement("script")).src = A;
          cal.loaded = true;
        }
        if (ar[0] === L) {
          const api = function () {
            p(api, arguments);
          };
          const namespace = ar[1];
          api.q = api.q || [];
          if (typeof namespace === "string") {
            cal.ns[namespace] = cal.ns[namespace] || api;
            p(cal.ns[namespace], ar);
            p(cal, ["initNamespace", namespace]);
          } else p(cal, ar);
          return;
        }
        p(cal, ar);
      };
  })(window, "https://app.cal.eu/embed/embed.js", "init");
  Cal("init", "gettoknow", { origin: "https://app.cal.eu" });

  Cal.ns.gettoknow("inline", {
    elementOrSelector: "#my-cal-inline-gettoknow",
    config: { layout: "month_view", useSlotsViewOnSmallScreen: true },
    calLink: "leo-lem/gettoknow"
  });

  Cal.ns.gettoknow("ui", {
    cssVarsPerTheme: {
      light: { "cal-brand": "#1a1c1f" },
      dark: { "cal-brand": "#f3f4f6" }
    },
    hideEventTypeDetails: false,
    layout: "month_view"
  });
</script>
