---
import BaseLayout from "../BaseLayout.astro";
import Screenshot from "../components/Screenshot.astro";
import IconLink from "../components/IconLink.astro";
import { getCollection } from "astro:content";

const projects = await Promise.all(
  (await getCollection("projects")).map(async (project) => {
    const { Content } = await project.render();
    return { ...project, Content };
  })
);
---

<BaseLayout
  title="Projects"
  description="Explore my projects showcasing my skills in iOS development, CI/CD automation, and more. Each project highlights my approach to clean, reliable code and production-ready solutions."
>
  <section class="max-w-5xl mx-auto py-12 px-4 space-y-12">
    {
      projects.map(({ data, slug, Content }) => (
        <div id={slug} class="space-y-4 border-b pb-8">
          <div class="flex sm:items-baseline sm:space-x-2 sm:flex-row flex-col space-y-3">
            <h2 class="text-2xl font-semibold">{data.title}</h2>

            <div class="flex items-center space-x-2">
              {data.links?.map((link) => (
                <IconLink type={link.type} url={link.url} />
              ))}
            </div>
          </div>

          <div class="flex flex-wrap gap-2">
            {data.tags.map((tag) => (
              <span class="px-2 py-1 bg-[var(--border-color)] rounded text-sm text-[var(--text-secondary-color)]">
                {tag}
              </span>
            ))}
          </div>

          <div class="prose dark:prose-invert max-w-none">
            <Content />
          </div>

          {data.images && (
            <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-4 mt-4">
              {data.images.map((img) => (
                <Screenshot src={img} alt={data.title} />
              ))}
            </div>
          )}
        </div>
      ))
    }
  </section>
</BaseLayout>
