---
import DynamicImage from "./DynamicImage.astro";

interface Props {
  article: {
    slug: string;
    data: {
      title: string;
      short: string;
      date: Date;
      author?: {
        name: string;
        url?: string;
      };
    };
  };
  class?: string;
}
const { article, class: classes } = Astro.props;

const dateLabel = article.data.date.toLocaleDateString(undefined, {
  day: "numeric",
  month: "long",
  year: "numeric"
});
---

<article class={`relative ${classes ?? ""}`}>
  <div class="absolute top-0 z-10 w-full flex justify-between p-2">
    <a href={`/blog/${article.slug}/`} class="pill-overlay">{dateLabel}</a>

    {
      article.data.author?.name &&
        (article.data.author.url ? (
          <a
            href={article.data.author.url}
            class="pill-overlay link-muted"
            rel="noopener noreferrer"
            target="_blank"
          >
            {article.data.author.name}
          </a>
        ) : (
          <span class="pill-overlay">{article.data.author.name}</span>
        ))
    }
  </div>

  <a href={`/blog/${article.slug}/`}>
    <DynamicImage
      src={`blog/${article.slug}`}
      alt={`Thumbnail for ${article.data.title}`}
      loading="eager"
    />

    <div class="absolute bottom-0 fade w-full p-2">
      <h2 class="title-md">{article.data.title}</h2>
      <p class="summary">{article.data.short}</p>
    </div>
  </a>
</article>
