---
import Thumbnail from "./Thumbnail.astro";
import { formatDate } from "../lib";

const {
  article: {
    slug,
    data: { title, short, date, author }
  },
  class: classes = ""
} = Astro.props;
---

<article class={`relative ${classes}`}>
  <div
    class="absolute top-0 z-10 w-full flex justify-between p-2 text-xs sm:text-base"
  >
    <a href={`/blog/${slug}/`} class="pill-overlay">{formatDate(date)}</a>

    {
      author?.name &&
        (author.url ? (
          <a
            href={author.url}
            class="pill-overlay link-muted"
            rel="noopener noreferrer"
            target="_blank"
          >
            {author.name}
          </a>
        ) : (
          <span class="pill-overlay">{author.name}</span>
        ))
    }
  </div>

  <a href={`/blog/${slug}/`}>
    <Thumbnail
      src={`blog/${slug}`}
      alt={`Thumbnail for ${title}`}
      loading="eager"
    />

    <div class="absolute bottom-0 fade w-full p-2">
      <h2 class="title">{title}</h2>
      <p class="summary">{short}</p>
    </div>
  </a>
</article>
