---
import { Image } from "astro:assets";
import thumbnail from "../assets/thumbnail";

const {
  project: {
    slug,
    data: { title, short }
  },
  class: classes
} = Astro.props;
---

<a
  href={`/portfolio/${slug}/`}
  class={`relative responsive card stack ${classes}`}
>
  <Image
    src={await thumbnail(`portfolio/${slug}`)}
    alt={`Thumbnail for ${title}`}
    class="thumbnail w-full aspect-square"
  />

  <div class="absolute bottom-0 fade p-2">
    <h2 class="title-sm">{title}</h2>
    <p class="summary">{short}</p>
  </div>
</a>
