---
import { BaseLayout } from "../../layout";
import { relatedArticlesFor, thumbnail } from "../../lib";
import { getPortfolio, getBlog } from "../../content";
import {
  Thumbnail,
  TopicPills,
  Icon,
  ArticleRow,
  Screenshots,
  Embed
} from "../../components";

export async function getStaticPaths() {
  return (await getPortfolio()).map((project) => ({
    params: { project: project.slug },
    props: project
  }));
}

const {
  data: { title, short, links, articles: articleSlugs, tags },
  slug,
  rendered
} = Astro.props;

const relatedArticles = relatedArticlesFor(await getBlog(), articleSlugs, 3);

const image = await thumbnail(`portfolio/${slug}`);
---

<BaseLayout
  title={title}
  description={short}
  thumbnail={image.src}
  ldJson={{
    "@context": "https://schema.org",
    "@type": "CreativeWork",
    name: title,
    description: short,
    url: `https://leolem.dev/portfolio/${slug}`,
    keywords: tags?.join(", "),
    inLanguage: "en"
  }}
>
  <div slot="thumbnail" class="relative card-elevated sm:w-2/3 mx-auto">
    <Thumbnail src={`portfolio/${slug}`} alt={`Thumbnail for ${title}`} />

    <TopicPills
      topics={tags}
      class="absolute bottom-2 left-2 justify-center text-xs sm:text-base"
    />

    <div class="absolute top-2 left-2 flex gap-2">
      {
        links?.map((link: { type: string; url: string }) => (
          <Icon name={link.url} class="icon sm:icon-lg btn" />
        ))
      }
    </div>
  </div>

  <article
    class="card p-4 prose dark:prose-invert max-w-none text-center sm:text-justify"
    set:html={rendered?.html}
  />

  {
    relatedArticles.length > 0 && (
      <div class="flex flex-col gap-2 mx-2">
        <h2 class="title">Related Articles</h2>
        {relatedArticles.map((article) => (
          <ArticleRow article={article} />
        ))}
      </div>
    )
  }

  <Screenshots slug={slug} />

  <Embed kind="sponsors" />
</BaseLayout>
