---
import BaseLayout from "../../layout/BaseLayout.astro";
import Screenshots from "../../components/Screenshots.astro";
import IconLink from "../../components/IconLink.astro";
import Tags from "../../components/Tags.astro";
import Embed from "../../components/Embed.astro";
import DynamicImage from "../../components/DynamicImage.astro";

import { getCollection } from "astro:content";
import Article from "../../components/Article.astro";

export async function getStaticPaths() {
  return (await getCollection("portfolio")).map((project) => ({
    params: { project: project.slug },
    props: project
  }));
}

const {
  data: { title, short, links, articles: articleSlugs, tags },
  slug,
  rendered
} = Astro.props;

const articles = (await getCollection("blog"))
  .filter(
    ({ slug, data: { date } }) =>
      date <= new Date() && articleSlugs.includes(slug)
  )
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
---

<BaseLayout
  title={title}
  description={short}
  ldJson={{
    "@context": "https://schema.org",
    "@type": "CreativeWork",
    name: title,
    description: short,
    url: `https://leolem.dev/portfolio/${slug}`,
    keywords: tags?.join(", "),
    inLanguage: "en"
  }}
>
  <div slot="thumbnail" class="relative card-elevated sm:w-2/3 mx-auto">
    <DynamicImage
      src={`portfolio/${slug}`}
      alt={`Thumbnail for ${title}`}
      class="thumbnail"
    />

    <Tags
      tags={tags}
      class="absolute bottom-2 left-2 justify-center text-xs sm:text-base"
    />

    <div class="absolute top-2 left-2 flex gap-2">
      {
        links?.map((link: { type: string; url: string }) => (
          <IconLink
            type={link.type}
            url={link.url}
            class="icon sm:icon-lg btn"
          />
        ))
      }
    </div>
  </div>

  <article
    class="card p-4 prose dark:prose-invert max-w-none text-center sm:text-justify"
    set:html={rendered?.html}
  />

  {
    articles.length > 0 && (
      <div class="flex flex-col gap-2 mx-2">
        <h2 class="title">Related Articles</h2>
        {articles.map((article) => (
          <Article article={article} />
        ))}
      </div>
    )
  }

  <Screenshots slug={slug} />

  <Embed kind="sponsors" />
</BaseLayout>
