---
import { getCollection } from "astro:content";

import BaseLayout from "../../layout/BaseLayout.astro";
import Embed from "../../components/Embed.astro";
import DynamicImage from "../../components/DynamicImage.astro";
import FeaturedProject from "../../components/FeaturedProject.astro";

const allProjects = await getCollection("portfolio");
const featured = allProjects.filter(({ data: { featured } }) => featured);
const projects = allProjects.filter((project) => !featured.includes(project));
---

<BaseLayout
  title="My Portfolio"
  description="Explore my projects showcasing my skills in iOS development, CI/CD automation, and more. Each project highlights my approach to clean, reliable code and production-ready solutions."
>
  <section class="container-wide split">
    {
      featured.map((project) => (
        <FeaturedProject project={project} class="card-elevated" />
      ))
    }
  </section>

  <ul class="container-wide stack-lg">
    {
      projects.map(({ data: { title, short }, slug }) => (
        <li class="stack-sm text-center sm:text-left">
          <a href={`/portfolio/${slug}/`} class="link">
            <h2 class="title">{title}</h2>
          </a>

          <a href={`/portfolio/${slug}/`}>
            <div class="responsive card stack sm:flex-row items-center">
              <DynamicImage
                src={`portfolio/${slug}`}
                alt={`Thumbnail for ${title}`}
                class="thumbnail w-full aspect-square sm:w-1/3"
              />

              <p class="summary line-clamp-none m-2">{short}</p>
            </div>
          </a>
        </li>
      ))
    }
  </ul>

  <Embed kind="sponsors" />
</BaseLayout>
