---
import { getCollection } from "astro:content";

import BaseLayout from "../../layout/BaseLayout.astro";
import IconLink from "../../components/IconLink.astro";
import Tags from "../../components/Tags.astro";
import Embed from "../../components/Embed.astro";
import DynamicImage from "../../components/DynamicImage.astro";

const portfolio = (await getCollection("portfolio")).sort(({ slug }) =>
  (import.meta.env.FEATURED_PROJECTS?.split(",") ?? []).includes(slug) ? -1 : 1
);
---

<BaseLayout
  title="My Portfolio"
  description="Explore my projects showcasing my skills in iOS development, CI/CD automation, and more. Each project highlights my approach to clean, reliable code and production-ready solutions."
>
  <Embed kind="github-sponsors" />

  <section class="flex flex-col gap-5">
    {
      portfolio.map(({ data: { title, tags, links, short }, slug }, index) => (
        <a href={`/portfolio/${slug}`} class="responsive">
          <div>
            <h2 class="hover:underline text-center sm:text-left">{title}</h2>

            <div class="card flex flex-col sm:flex-row items-center gap-4">
              <DynamicImage
                src={`portfolio/${slug}.avif`}
                alt={`Thumbnail for ${title}`}
                class="w-1/2 mx-auto sm:w-32 aspect-square object-cover rounded-lg flex-shrink-0"
              />

              <div class="flex flex-col gap-2 flex-1 items-center sm:items-start">
                <div class="flex gap-1">
                  {links?.map((link) => (
                    <IconLink
                      type={link.type}
                      url={link.url}
                      loading={index === 0 ? "eager" : "lazy"}
                    />
                  ))}
                </div>

                <Tags
                  tags={tags}
                  class="items-center justify-center sm:items-start sm:justify-start"
                />

                <p class="text-sm text-secondary text-center sm:text-left">
                  {short}.
                </p>
              </div>
            </div>
          </div>
        </a>
      ))
    }
  </section>
</BaseLayout>
